@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Cairo', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: RGBA(13, 70, 83, 0.78);
  background: url('../img/banner.jpg') no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

a,
a:hover,
a:focus {
  color: orangered;
  text-decoration: none;
  align-items: center;
  
}

.lightbox {
  align-items: center;
  background: white;
  padding: 1.5rem;
  border: 4px solid orangered;
  box-shadow: 4px 4px 0 orangered;
  width: 350px;
  position: fixed;
  transform: scale(0);
  transition: transform .3s ease-in;
}

.lightbox:target {
  transform: scale(1);
}

.close-me::after {
  content: "\00D7";
  display: inline-block;
  position: absolute;
  right: -1rem;
  top: -1rem;
  z-index: 3;
  color: #ffffff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.8rem;
  text-align: center;
  margin: 0;
  background-color: orangered;
  font-weight: bold;
  cursor: pointer;
}

.fill {
  font-size: 20px;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: orangered;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

    