@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Cairo', sans-serif;

}

body{
    background-color: RGBA(13, 70, 83, 0.78);
	background: url('../img/banner.jpg') no-repeat fixed;
	background-size: cover;
	min-height: 100vh;

}

.form{
    width:400px;
    height:600px;
    background:#fff;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
}


h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#CF5C3F;
    border-bottom:3px solid #bebed2
}

input{
    width:100%;
    padding:10px;
    box-sizing:border-box;background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

input:focus{
    border-bottom:2px solid #fff;
}


p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#CF5C3F;
}

button{
    float:right;padding:8px 12px;
    margin: 8px;;
    border:2px solid #CF5C3F;
    background:0;
    color:#CF5C3F;
    cursor:pointer;
    transition:all .3s;
    
}
button a {
    text-decoration: none;
    color: #CF5C3F;
}

button:hover{
    background:#CF5C3F;
    color:#fff
}

button a:hover{
    background:#CF5C3F;
    color:#fff
}


